﻿
@model Store.Models.StoreProductViewModel


<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />


@{
    ViewBag.Title = "RegProduct";
}

<h2>Register your product</h2>

@*@using (Html.BeginForm("RegProduct", "Product", FormMethod.Post, new{enctype = "multipart/form-data"}))*@
@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.product.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.product.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.product.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.product.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.product.Description, new { htmlAttributes = new { @class = "form-control",@id ="txtProductDesc" } })
           <textarea id="DescEditor"></textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.product.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.product.CategoryId, Model.CategoryList, "-Select Category-", htmlAttributes: new { @class = "form-control", @id = "ddlCategory" } )
           
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.product.BrandId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.product.BrandId, Model.BrandList, "-Select Brand-", htmlAttributes: new { @class = "form-control", @id = "ddlBrand" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.product.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.product.Price, new { htmlAttributes = new { @class = "form-control", @id = "txtProductPrice" } })
           
        </div>
    </div>

    
    <div class="form-group">
        @Html.LabelFor(model => model.product.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.product.Discount, new { htmlAttributes = new { @class = "form-control", @id = "txtProductDescount" } })
        </div>
    </div>

 

    <div class="form-group">
        @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
           <input type="file"  id="SelectImage" />
            <a href="#" class="btn" onclick="UploadImage()">Upload</a>

            <div class="col-md-4 thumbnail" id="UploadedImage"></div>
        </div>
    </div>


    <script>
        $(function () {
            $("#DescEditor").kendoEditor();
            var editor = $("#DescEditor").data("kendoEditor");
            //editor.value($("#txtProductDesc").val());
            editor.value(@Model.product.Description);

            $("#ddlCategory").kendoDropDownList();
            $("#ddlBrand").kendoDropDownList();

            var UploadImage = function () {
                var file = $("#SelectImage").get(0).files;
                var data = new FormData;
                data.append("ImageFile", file[0]);
                $.ajax({
                    type: "POST",
                    url: "Product/Upload",
                    data: data,
                    contentType: false,
                    processData:false,
                    success: function (imgName) {
                        $("#UploadedImage").append('<img src = "Product/DisplayingImage?imgName=' + imgName + '"class=img-responsive thimbnail')
                    }
                    

                })


            }
           // $("#txtProductPrice").;

            //var text = editor.value();
            //editor.value("safdsdfdskjhfgdskjf gdskjfd");

        });
      
    </script>
}


