﻿@model Store.Models.StoreRegViewModel

@{
    ViewBag.Title = "Home";
}

@Html.ActionLink("LogOut", "LogOut") 
<h2>Home</h2>

<p> Hello this is Account Home page </p>

<div class="form-group">
    
    <h4> HELLO </h4>
    <h4> your id = @Session["UserId"].ToString() </h4>
    <h4> UserName =  @Session["UserName"].ToString() </h4>
   
</div>
