﻿

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <div class="col">
        <div class="col-md-8"> </div> 
        <div class="col-md-4"> @Html.ActionLink("Login", "Login")  /@Html.ActionLink("Registration", "Registration")  </div>
        <hr>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">Left Sigt Bar</div>
        <div class="col-md-8">Main Content Area </div>
    </div>
</div>
   
    
