﻿@*<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />*@

@Html.Action("Link", "Home")  

<label for="dropdownlistB"> Brand Type</label>
<br>
<input id="dropdownlistB" />

<script>


    var dataSourceB = [];

    @foreach (var item in Model)
    {
        
       @: dataSourceB.push( @Html.Raw("\"" + item.BrandName.ToString() + "\""));

    }
    
    $("#dropdownlistB").kendoDropDownList({

        dataSource: dataSourceB,
        dataValueField: "name"

    });

</script>
