﻿

@Html.Action("Link","Home")   
<label for="dropdownlist"> Product Type</label>
<br>
<input id="dropdownlist" />
<script>
        
    var dataSource = [];

    @foreach (var item in Model)
    {
      @: dataSource.push( @Html.Raw("\"" + item.CategoryName.ToString() + "\""));

    }


    $("#dropdownlist").kendoDropDownList({

        dataSource: dataSource ,
        dataValueField: "name"

    });

</script>
