﻿<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />

